.goBack__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  margin-left: 150px;
}

.goBack__btn > button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  border-bottom: 1px solid #fff;
}

.goBack__btn > button:hover {
  color: rgb(112, 112, 112);
  border-bottom: 1px solid rgb(112, 112, 112);
}

.resident__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;
}

.resident__container__card {
  display: flex;
  flex-direction: column;
  background: #3a3e42;
  border-radius: 8px;
  width: 300px;
  height: 445px;
  color: #fff;
  text-align: center;
  margin: 20px 0;
  padding-bottom: 10px;
  transition: transform 0.5s;
}

.resident__container__card:hover {
  transform: scale(1.04);
}

.resident__container__card img {
  border-radius: 10px 10px 0 0;
}

.resident__container__card__information {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.resident__container__card__information h3 {
  margin: 10px 0;
  font-size: 1.5rem;
}

.alive {
  color: rgb(3, 214, 3);
}

.dead {
  color: rgb(252, 58, 58);
}

.character__location__and__episode {
  margin: 10px 0;
}

.character__location__and__episode span {
  display: block;
}

.location {
  margin-bottom: 10px;
  font-weight: bold;
}

.episode {
  font-weight: bold;
}